h1 {
  font-size: 24px;
  line-height: 32px;
}

h2 {
  font-size: 20px;
  line-height: 24px;
}

.text-header {
  font-size: 56px;
  line-height: 64px;
}

.text-lg {
  font-size: 18px;
  line-height: 22px;
}

.text-md {
  font-size: 16px;
  line-height: 20px;
}

.text-sm {
  font-size: 14px;
  line-height: 18px;
}

.text-xs {
  font-size: 12px;
  line-height: 14px;
}

.text-bold {
  font-weight: 700;
}

.text-bolder {
  font-weight: 800;
}
